<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.green.springwebproject.dao.UserMapper">
  
    <select id="login" resultType="kr.green.springwebproject.dao.User">
		select * from account where id = #{id} and pw = #{pw}
	</select>

	<select id="getUser" resultType="kr.green.springwebproject.dao.User">
		select * from account where id=#{id}
	</select>

	<!-- UserMapper.java에서 @Param을 안쓰면 user.id로 안쓰고 id로 씀 -->
	<insert id="join" >
		insert into account (id, pw, email) values (#{id}, #{pw}, #{email})
	</insert>

	<select id="loginById" resultType="kr.green.springwebproject.dao.User">
		select * from account where id=#{id}
	</select>
	
	<update id="updateUser">
		update account set pw=#{pw}, email=#{email} where id=#{id}
	</update>
	

</mapper>